body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: #333;
}

#productos {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.producto {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#carrito {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 400px;
}

#lista-carrito {
    list-style-type: none;
    padding: 0;
}

#lista-carrito li {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#total {
    font-weight: bold;
}
